.container {
  display: flex;
  flex-direction: column;
}

.eventsPanel {
  margin-left: 5px;
  h4 {
    margin-bottom: 0px;
  }
}

.contentPanel {
  margin-left: 5px;
  h4 {
    margin-bottom: 0px;
  }
}

.divider {
  margin-bottom: 0px;
}
