.container {
  display: flex;
  flex-direction: column;
}

.contentCollapse {
  border: 2px solid black !important;
  box-shadow: 1px 1px 0 black !important;
  border-radius: 4px !important;

  .panelHeader {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
  }

  .eventsPanel {
    .eventsDayContainer {
      margin-bottom: 10px;
    }

    .eventDayHeader {
      margin-bottom: 5px;
    }

    .eventContainer {
      margin-left: 10px;
      h4 {
        margin-bottom: 0px;
      }
    }
  }
  .contentPanel {
    margin-left: 5px;
    margin-bottom: 10px;
    h4 {
      margin-bottom: 0px;
    }
  }
}

.divider {
  margin-bottom: 0px;
  h3 {
    margin-bottom: 0px;
    padding: 0px;
  }
}
