body {
  margin: 0;
  width: 100%;
  background-color: #f7f7f7;
}

.ant-form-item {
  margin-bottom: 10px;

  .ant-form-item-label {
    padding-bottom: 2px;
    .ant-form-item-required::before {
      content: '';
      margin-right: 0;
    }
  }
}
