body {
  margin: 0;
  width: 100%;
  max-width: 100vw;
  background-color: #f7f7f7;
  overflow-x: hidden !important;
}

.ant-form-item {
  margin-bottom: 10px;

  .ant-form-item-label {
    padding-bottom: 2px;
  }
}
