@import '../mixins/_breakpoint.module.scss';

.container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include atMediaUp(medium) {
    flex-direction: row;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
  }

  h1 {
    margin: 0px 0px 10px 0px;
  }
}

.infoContainer {
  // margin-right: 10%;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 15px;

  @include atMediaUp(medium) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.authContainer {
  flex-grow: 1;
  width: 100%;
}
