@import '../../mixins/_breakpoint.module.scss';

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30vw;
}

.verticalRadioButton {
  display: block;
  height: 30px;
}

.descriptionPopover {
  @include atMediaUp(medium) {
    max-width: 400px;
    max-height: 20vh;

    overflow-x: scroll;
    overflow-y: scroll;
  }
}
