// @type

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30vw;
}

.verticalRadioButton {
  display: block;
  height: 30px;
  lineheight: 30px;
}

.descriptionPopover {
  max-width: 80vw;
  max-height: 25vh;
  overflow-x: scroll;
  overflow-y: scroll;
}
