// @type

.container {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  background-color: white;
}

.logoContainer {
  flex-grow: 9;
  display: flex;
  h2 {
    margin-bottom: 0px;
  }
  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
  }
  img {
    max-width: 35px;
    max-height: 40px;
    width: 35px;
    height: 40px;
  }
}

.actionsContainer {
  flex-grow: 1;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;

  a {
    margin: 0px 0px;
    line-height: 1;
    flex-grow: 1;
    color: black;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
}
