.infoHeader {
  h2 {
    margin-bottom: 5px;
    line-height: normal;
  }

  h4 {
    margin-bottom: 5px;
    line-height: normal;
  }

  .circleActions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
