.contentCollapse {
  border: 2px solid black !important;
  box-shadow: 1px 1px 0 black !important;
  border-radius: 4px !important;

  .panelHeader {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
  }

  .eventsPanel {
    .eventsDayContainer {
      margin-bottom: 10px;
    }

    .eventDayHeader {
      margin-bottom: 5px;
    }

    .eventContainer {
      margin-left: 10px;
      font-size: 14px;
      h4 {
        font-size: 16px;
        margin-bottom: 0px;
      }
    }
  }
  .contentPanel {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    h4 {
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
}
