.modal {
  border: 2px solid black !important;
  box-shadow: 1px 1px 0 black !important;
  border-radius: 4px !important;
  max-width: 80% !important;
  height: fit-content;
  padding: 0 !important;
}
